.track {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.track-banner {
    width: 100%;
    height: 2.5rem;
    padding: 0.25rem 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    border-bottom: 1px rgba(255, 255, 255, 0.05) solid;
}

.track-video {
    position: relative;

    width: 100%;
    height: 100%;
    flex-grow: 1;
    overflow-x: auto;

    display: flex;
    flex-direction: column;

    .track-time-line {
        width: 100%;
        height: 2rem;
    }

}
